<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

	<div class="container"><!--admin login form-->
		<div class="div-row">
			<div class="col-sm-4 col-sm-offset-4">
				<form class="form-signin" th:action="${loginUrl}"  method="POST">

					<div id="form-group"><!--Title-->
						<h2 class="form-signin-heading text-center">Admin Login</h2>
						<p th:if="${param.error}" class="error error-text">Wrong account name or password</p>
						<!--Error message-->
					</div>

					<div id="form-group"><!--account name bounded to adminUser.name-->
						<label for="username" class="sr-only">Username:</label>
						<input type="text" id="username" name="username" class="form-control" placeholder="Account"/>
						<!--Error message-->
					</div>

					<div id="form-group"><!--password bounded to adminUser.passwd-->
						<label for="password" class="sr-only">password:</label>
						<input type="password" name="password" id="password" class="form-control" placeholder="Password" />
						<!--Error message-->
						<input type ="hidden" th:name ="${_csrf.parameterName}" th:value ="${_csrf.token}"/>
					</div>

					<div id="form-group"><!--submit button-->
						<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>